/**ESTILOS GENERALES*/

*{
    box-sizing: content-box; 
}

dl, ol, ul{
    margin: 0;
}

input:focus{
    outline: none;
}

input{
    cursor: pointer;
}


body{
    background-color: #F2EEE8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

a{
    text-decoration: none;
}

ul li{
  list-style: none;
}

ol li{
    list-style: none;
  }


.TituloSecciones{
    color: #3A4D43;
    font-family: 'Brygada 1918', serif;
    font-size: 5vw;
    font-weight: lighter;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    text-align: right;
    }


.parrafo_destacado{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.8rem;
    
}

.NombreProducto{
    color: #3A4D43;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Brygada 1918', serif;
    text-align: center;
}

.DetalleProducto {
    font-size: .7rem;
    text-align: center;
}

h1 {
    color:  #3A4D43;
    font-family: 'Brygada 1918', serif;
    font-size: 4rem;
    line-height: 6rem;
    margin: 0;
    padding: 0;
 }



.boton_ver_mas{
            display: block;
            max-width: 10vw;
            font-size: 1rem;
            font-family: 'Brygada 1918', serif;
            font-weight: lighter; 
            color:  #3A4D43;
            margin: 4rem auto 0 auto;  
            padding: .8rem;
            border: 1px solid  #3A4D43;
            text-align: center;
            letter-spacing: 0.1rem;
            position: relative;
            text-decoration: none;
            z-index: 998;
            transition: color .8s linear;
        }

.boton_ver_mas:hover {
    color: #F2EEE8;
}

.boton_ver_mas:before {
    content: "";
    background-color: #3A4D43;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -9;
    }

.boton_ver_mas:hover:before,
.boton_ver_mas:focus:before {
    animation: .4s hover linear;
    animation-fill-mode: forwards;
    }
    @keyframes hover {
    0% {transform: scaleX(0);height: 5px;}
    45% {transform: scaleX(1);height: 5px;}
    55% {height: 5px;}
    100% {transform: scaleX(1);height: 100%;}
    }





/**ESTILOS GENERALES FORMS*/

.datos_form{
    max-width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #F2EEE8;
    padding-bottom: .4rem;
    width: 30%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #F2EEE8;
    letter-spacing: .1rem;
    font-weight: lighter;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #F2EEE8;
}



.textarea{
    background: none;
    border: 1px solid #3A4D43;
    font-family: 'Open Sans', sans-serif;
}

form label{
    font-family: 'Open Sans', sans-serif;
    color:#3A4D43;
    letter-spacing: 0.2rem;
    padding: 1rem;
}



/**SECCIÓN COMING SOON*/

#section_coming_soon{
    padding: 8rem 10rem 5rem 10rem;
    height: 100%;
    
}

#coming_soon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #3A4D43;
    max-width: 100vw;
    height: 100%;
    margin: 0;
    align-items: center;
}


#coming_soon_texto{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    color: #3A4D43;
    max-width: 35vw;
    max-height: 100%;
}

#coming_soon_texto h1{
    font-size: 7vw;
    font-weight: normal; 
}

#coming_soon_texto h3{
    font-size: 1.2rem;
    font-family:'Brygada 1918', serif;
    font-weight: lighter; 
    color: #A3ADA5;  
    margin-top: 0; 
    padding-bottom: 1rem;      
}

#coming_soon_texto .parrafo_destacado{
    padding: 2rem 0 3rem;
    margin: 0;
}


#coming_soon_texto .boton_ver_mas {
    margin: 0;
 }

 #coming_soon_imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 28vw;
    max-height: 50vh;
}

#coming_soon_imagen_div {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#coming_soon_imagen_div img{
    max-height: 100%;
    max-width: 100%;
}

#coming_soon_imagen .NombreProducto{
    margin: 0;
    padding: 1rem 0 0 0;
}

#rose{
    color: #EDAF06;
}

#mai{
    color: #CFC374;
}

#prim{
    color: #c0bfb5;
}

.carousel-indicators [data-bs-target]{
    width: .8vw;
    height: .8vw;
    border-radius: 100%;
    background-color: #C9C2B1;
}

.carousel-indicators{
    transform: rotate(90deg);
    margin: 0;
    bottom: auto;
    right: -35vw;
}

#carouselExampleIndicators{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.carousel-inner {
    border-radius: 100%;
    padding:1.4rem;
}



/**CONOCE HOME*/

#conocenos_home{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 40rem;
    align-content: center;
    background-color:  #3A4D43;
    color: #F2EEE8;
}

#conocenos_contenedor_imagen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
    max-height: 100%;
    overflow: hidden;
}

#conocenos_contenedor_imagen img{
    max-width: 100%;
}

#conocenos_contenedor_texto{
    max-width: 50%;
    padding: 4rem 10rem 4rem 5rem;

}

#conocenos_contenedor_texto .encabezado_secciones h2{
    color: #F2EEE8;
}


#conocenos_contenedor_texto a{
    border: 1px solid  #F2EEE8;
    color:  #F2EEE8;
    margin-top: 3rem;
    max-width: 45%;
}

#conocenos_home .boton_ver_mas:hover {
    color: #3A4D43;
}

#conocenos_home .boton_ver_mas:before {
    background-color: #F2EEE8;
    }


/**PREGUNTAS FRECUENTES HOME*/

#preguntas_frecuentes_home{
    padding: 4rem 10rem 6rem;
}


#preguntas_frecuentes_home ol li{
    padding: 0 5rem;
}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado {
    display: flex;
    flex-direction: row;
  align-items: center;
    color: #3A4D43;
}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado h4{
    font-family:'Brygada 1918', serif;
    font-size: 3.8rem;
    margin: 0;
    padding: 0;
    padding-bottom: .5rem;
    width: 5%;

}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado div{
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    width: 95%;
    border-bottom: 1px solid #3A4D43;
}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado p{
    font-family:'Brygada 1918', serif;
    font-size: 1.7rem;
    width: 100%;
    margin: 0;
    padding-bottom: .8rem;
    padding-top: .5rem;
}

#preguntas_frecuentes_home .preguntas_frecuentes_respuesta {

}

#preguntas_frecuentes_home .preguntas_frecuentes_respuesta iframe{
    margin-top: 1rem;
}

#preguntas_frecuentes_home a{
    max-width: 20%;
    margin-top: 2rem;
}


.accordion-button{
   width: 98%;
   padding: .8rem 0 auto 0;
   background-color: #F2EEE8;
   color: #3A4D43;
}

.accordion-header{
    background-color: #F2EEE8;
}

.accordion-body {
    background-color: #F2EEE8;
    color: #3A4D43;
    font-size: 1rem;
    padding:0 5rem 2rem 5rem;
    font-weight: normal;
    max-width: 100%;
}


.accordion-button:not(.collapsed) {
    color: #3A4D43;
    background-color: #F2EEE8;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after{
    color: #3A4D43;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item{
    border: none;
}
 
.accordion-flush .accordion-item .accordion-button{
    padding: 0;
    width: 100%;

}

/**NEWSLETTER HOME*/

#newsletter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 10rem 6rem; 
    margin: 0 auto;
    text-align: center;
    background-color:  #A3ADA5; 
    color: #F2EEE8;
}

#newsletter div{
    width: 45%;
}

#newsletter .encabezado_secciones__subtitulos{
    font-size: 3.5vw;
    margin: 0;
    padding: 0;
    color: white;
    text-align:left;
}

#newsletter_form{
    margin: auto;
}

#newsletter_form .datos_form {
    width:100%;
}

#newsletter_form .form_botones__boton {
    width:80%;
    margin-top: 2rem;
}


/**PRODUCTOS*/



#productos{
    margin: 0;
    padding: 3rem;
}



.TituloSecciones{
    justify-self: right;
    max-width: 100%;
    margin: 7rem 0 1rem 0;
    padding: 0rem 10rem 1rem 0;
    height: 20%;
}


.ProductosContenidoGrid{
    margin-top: 5rem;
    max-width: 100%;
    padding:0 16rem 3rem 16rem;
}

.ProductosContenido{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: repeat(4,26vw);
    max-width: 100%;
    grid-column-gap: 3.5%;
    grid-row-gap: 2vw;
    max-height: 100%;
}

#producto1{
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    max-height: 100%;
}

#producto2{
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
    max-height: 100%;
}

#producto3{
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 100%;
    max-height: 100%;
}

#producto4{
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 100%;
    max-height: 100%;
}

#producto5{
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

#producto6{
    grid-column: 3/4;
    grid-row: 2/3;
    max-width: 100%;
    max-height: 100%;
}

#producto7{
    grid-column: 1/2;
    grid-row: 3/4;
    max-width: 100%;
    max-height: 100%;
}

#producto8{
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 100%;
    max-height: 100%;
}

#producto9{
    grid-column: 3/4;
    grid-row: 3/4;
    max-width: 100%;
    max-height: 100%;
}

#producto10{
    grid-column: 1/2;
    grid-row: 4/5;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

#producto11{
    grid-column: 2/3;
    grid-row: 4/5;
    max-width: 100%;
    max-height: 100%;
}

#producto12{
    grid-column: 3/4;
    grid-row: 4/5;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.ContenedorProductos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
    transition: scale 2s;
}

.ContenedorProductos .ImagenesProductos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.ContenedorProductos .ProductosContenedorTextos{
    max-width: 100%;
    max-height: 10%;
}

.ContenedorProductos .ImagenesProductos img{
    max-width: 100%;
}

.ContenedorProductos .ImagenesProductos img:hover{
    transform: scale(1.2,1.2);
}

.ContenedorProductos .NombreProducto, .DetalleProducto {
    margin: 0;
}





/**PRODUCTOS HOME*/

#novedades{
    background-color: #A3ADA5; 
    padding: 4rem 10rem 6rem 10rem;
    max-width:100vw;
}

#novedades .ProductosContenidoGrid{
   margin-top: 1rem;
   padding:0;
}

#novedades .ProductosContenido{
    grid-template-columns: repeat(4,22.375%);
    grid-template-rows: 27vw;

}

#novedades #producto8{
    grid-column: 4/5;
    grid-row:1/2;
}


#novedades .NombreProducto, #novedades .DetalleProducto{
    color:  #F2EEE8;
}

#novedades .ContenedorProductos .ImagenesProductos {
    max-height: 90%;
}

/**CONOCENOS*/


/**PREGUNTAS FRECUENTES*/




/**CONTACTO*/

#contacto_pagina{
    background-color: #A3ADA5;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: auto;
    max-width: 100%;
    padding: 8rem 10rem 6rem;
}


#frase_contacto{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: left;
    font-family: 'Brygada 1918', serif;
    color: #BCC4BE;
    font-size: 7vw;
    font-weight: normal;
    line-height: 8vw;
}

#contacto_pagina #contacto_form{
    grid-column: 3/5;
    grid-row: 1/2;
    width: 100%;
    text-align: center;
    align-self: center;
}

#datos_personales { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 6rem;
}

#nombre{ 
    width: 47%;
    border-bottom: 2px solid #F2EEE8;
}

#apellido{ 
    width: 47%;
    border-bottom: 2px solid #F2EEE8;
}

#mail{
    width: 100%;
    margin-top: 2rem;
    border-bottom: 2px solid #F2EEE8;
}

#contacto_form .textarea{
    width: 96%;
    margin-top: 6rem;
    padding: 2%;
    border: 2px solid #F2EEE8;
    background-color: #f2eee827;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color:   #F2EEE8;
    letter-spacing: .1rem;
}

#contacto_form .textarea::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #F2EEE8;
    font-weight: lighter;
    font-size: 1rem;
}

#contacto_form .textarea:focus{
    background-color: #BCC4BE;
 }

#contacto_form .boton_form{
    width: 30%;
    margin: 2rem 1rem;
    border: 2px solid #F2EEE8;

}


/**RESPONSIVE*/

/**HOME*/

@media only screen and (max-width: 1200px){

.boton_ver_mas{
    max-width: 40%;
    font-size: 1.5vw;
    padding: .6rem;
}

.encabezado_secciones{
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/**SECCIÓN COMING SOON*/

#section_coming_soon{
    padding: 6rem 4rem 4rem 4rem;
    
}

#coming_soon{
    flex-wrap: wrap-reverse;
}

#coming_soon_texto{
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 60%;
    margin-top: 2rem;
}

#coming_soon_texto h1{
    font-size: 7vw;
    text-align: center;

}

#coming_soon_texto h3{
    font-size: 2vw;    
    text-align: center; 
    padding-top: 1rem;    
    margin-bottom: 0;
}

#coming_soon_texto .parrafo_destacado{
    padding: 1rem 0 2rem;
    margin: 0;
    text-align: center;
}

#coming_soon_imagen{
    max-width: 40%;
}
#coming_soon_imagen_div{
    max-width: 100%;
    margin-bottom: 1rem;
}


#coming_soon_imagen img{
    max-width: 100%;
}

#coming_soon_texto .boton_ver_mas{
    max-width: 50%;
    font-size: .9rem;
    padding: .7rem 1rem;
}

.carousel-indicators{
    transform: none;
    bottom: 0;
    right: 0;
}

.carousel-indicators [data-bs-target]{
    height: .4rem;
    width: .4rem;
    border-radius: 100%;
}

/**CONOCE HOME*/

#conocenos_home{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    justify-content:center;
    background-color:  #3A4D43;
    color: #F2EEE8;
}

#conocenos_contenedor_imagen{
    max-width: 100%;
    max-height: 60vh;

}

#conocenos_contenedor_imagen img{
    max-width: 100%;

}

#conocenos_contenedor_texto{
    max-width: 100%;
    padding: 0 4rem 3rem 4rem;
    text-align: center;
}


#conocenos_home .parrafo_destacado{
    font-size: .85rem;
    line-height: 1.4rem;
    padding: 0 4rem;
}


/**PREGUNTAS FRECUENTES HOME*/

#preguntas_frecuentes_home{
    padding: 2rem 4rem 3rem;
}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3A4D43;
}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado h4{
    font-size: 2.3rem;
    width: 2rem;
}

#preguntas_frecuentes_home .preguntas_frecuentes_encabezado p{
    font-size: 1.2rem;
    padding-bottom: .6rem;
    padding-top: .5rem;
}

#preguntas_frecuentes_home .preguntas_frecuentes_respuesta {
    padding-left: 1rem;
    background-color: #F2EEE8;
}

#preguntas_frecuentes_home .preguntas_frecuentes_respuesta p{
    font-size: .9rem;
}

#preguntas_frecuentes_home .preguntas_frecuentes_respuesta iframe{
    margin-top: 1rem;
    max-width: 100%;
}

#preguntas_frecuentes_home a{
    max-width: 40%;
}


/**NEWSLETTER HOME*/

#newsletter{
    padding: 2rem 4rem 3rem; 
    text-align: center;
}

#newsletter div{
    width: 45%;
}

#newsletter .encabezado_secciones__subtitulos{
    font-size: 2.5rem;
}

#newsletter_form{
    margin: auto;
}


#newsletter_form .datos_form::placeholder, #newsletter_form .datos_form {
    font-size: .8rem;
}

#newsletter_form .boton_form {
    width:50%;
    margin-top: 1.2rem;
    font-size: .8rem;
}


/**PRODUCTOS HOME*/

#novedades{
    background-color: #A3ADA5; 
    padding: 2rem 4rem 3rem;
    height: 100%;
}

#novedades .ProductosContenidoGrid{
   margin-top: 1rem;
}

.ContenedorProductos .ImagenesProductos{
    max-height: 80%;
}

.ContenedorProductos .ProductosContenedorTextos{
    max-height: 15%;
}


#novedades .NombreProducto{
    font-size: .9rem;
}

 #novedades .DetalleProducto{
   font-size: .6rem;
}

}


/**RESPONSIVE PUNTO MEDIO*/

@media only screen and (max-width: 720px){

    footer{
        padding: 2rem 1.5rem 3rem
    }
    
    #contacto_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
    }
    
    #redes_sociales{
        display: flex;
        flex-direction: row;
        padding: 1.5rem 0 1rem 0;
        justify-content: center;
        width: 40%;
    }
    
    footer h3{
        font-size: 1.4rem;
        text-align:center;
        padding: 1rem 2rem;
    }
    
    #linea_footer{
        width: 20%;
        height: 0;
        padding: 0;
        border-bottom: 1px solid #A3ADA5;
    }
    
    footer p{
        font-size: 0.6rem;
    }
    
    
    .iconos_footer{
        width: 2.4vw;
        height: 2.4vw;
        padding: 1.3vw;
        margin: 1vw;
    }

    .iconos_footer img{
        margin: auto;
    }
 }

/**RESPONSIVE CELULAR*/

/**HOME*/

@media only screen and (max-width: 480px){

    .boton_ver_mas{
        max-width: 80%;
        font-size: 1rem;
        padding: .6rem;
        margin-top: 0;
    }

    h1{
    line-height: 7vh;
}

 
    /**SECCIÓN COMING SOON*/
    
    
    #section_coming_soon{
        height: 100%;
        padding: 6rem 2rem;
    
    }
    
    #coming_soon_texto{
        max-width: 100%;
        max-height: 60%;
    }
    
    #coming_soon_texto h1{
        font-size: 12vw;
    }
    
    #coming_soon_texto h3{
        font-size: .8rem;    
    }
    
    #coming_soon_texto .parrafo_destacado{
        padding: 1rem 0 2rem;
        margin: 0;
        text-align: center;
    }
    
    #coming_soon_imagen{
        max-width: 80%;
    }
   
    
    /**CONOCE HOME*/
    #conocenos_home {
        padding-bottom: 1rem;
    }
   
    #conocenos_contenedor_imagen{
        max-width: 100%;
        max-height: 30vh;
    
    }
    
    #conocenos_contenedor_texto{
        padding: 2rem 1.5rem 3rem 1.5rem;
        text-align: left;
    }
    
    
    #conocenos_home .parrafo_destacado{
        font-size: 1rem;
        line-height: 1.7rem;
        padding: .5rem 0 0 0;
    }

    #conocenos_contenedor_texto a {
         max-width: 80%;

    }
    
    /**PREGUNTAS FRECUENTES HOME*/
    
    #preguntas_frecuentes_home{
        padding: 2rem 1.5rem 4rem;
    }
    
    #preguntas_frecuentes_home .preguntas_frecuentes_encabezado {
        align-items: center;

    }

    #preguntas_frecuentes_home .preguntas_frecuentes_encabezado h4{
        font-size: 2rem;

    }
    
    #preguntas_frecuentes_home .preguntas_frecuentes_encabezado p{
        font-size: 1.3rem;
        padding-bottom: .6rem;
        padding-top:0;
        padding-right: 1rem;    }
    
    
    #preguntas_frecuentes_home .preguntas_frecuentes_respuesta p{
       
    }
    
    #preguntas_frecuentes_home a{
        max-width: 60%;
    }

    #preguntas_frecuentes_home .preguntas_frecuentes_encabezado{
        padding-bottom: 1rem;
    }

    .accordion-body{

        padding: 1rem;
        padding-top: 0;
    }

    #preguntas_frecuentes_home .preguntas_frecuentes_encabezado div{
        margin-bottom: 1rem;
    }

    #accordionFlushExample{
        padding-top: 1rem;
    }
    
    #preguntas_frecuentes_home a {
        margin-top: 1rem;
    }
    
    
    /**NEWSLETTER HOME*/
    
    #newsletter{
        flex-direction: column;
        padding: 3rem 1.5rem 4rem; 
        text-align: center;
    }
    
    #newsletter div{
        width: 100%;
        text-align: center;
    }

    #newsletter .encabezado_secciones__subtitulos {
        text-align: center;
    }
    
    
    #newsletter_form{
        margin: auto;
        padding-top: 2rem;
    }

    #newsletter_form .datos_form:active, #newsletter_form .datos_form::placeholder{
        font-size: 1rem;
    }
    
    
    /**PRODUCTOS HOME*/
    
    #novedades{
        background-color: #A3ADA5; 
        padding: 2rem 1.5rem 3rem;
    }
    
    #novedades .ProductosContenido{
       grid-template-columns: 48% 48%;
       grid-template-rows: 65vw 65vw;
       margin-top: 1.3rem;
       column-gap: 4%;
       row-gap: 5%;
       max-width: 100%;
       max-height: 100%;
       padding-bottom: 4rem;
    }

    #novedades .ContenedorProductos .ImagenesProductos {
        max-height: 85%;

     }

    #novedades #producto1{
        grid-column: 1/2;
        grid-row:1/2;
    }

    #novedades #producto2{
        grid-column: 2/3;
        grid-row:1/2;
    }

    #novedades #producto3{
        grid-column: 1/2;
        grid-row:2/3;
    }
    
    #novedades #producto8{
        grid-column: 2/3;
        grid-row:2/3;
    }

    .ContenedorProductos .ImagenesProductos{
        max-height: 80%;
    }
    
    .ContenedorProductos .ProductosContenedorTextos{
        max-height: 15%;
    }
    
    
    #novedades .NombreProducto{
        font-size: .9rem;
    }
        
    }
