

  /* TITULARES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin titulares($color,$fontsize) {
    color: $color;
    font-family: 'Brygada 1918', serif;
    font-size: $fontsize;
    font-weight: lighter;
}