

@import "_variables";


/* PREGUNTAS FRECUENTES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#preguntasFrecuentesPagina {
    background-color: $verde;

    .preguntasFrecuentesContenedor{ 
    background-color: $verde;
    padding: 6rem 10rem 4rem;
    margin:0;
    }

    .tituloSecciones, h4, p{
    color:$crema;
    }


    .tituloSecciones{
    margin: 1rem 0 1rem 0;
    padding: 1rem 0;
    height: 20%;
    }

    

    .preguntasFrecuentesEncabezado{
     padding-bottom: 0;

        div{
            border-bottom: 1px solid $crema;
        }

        h4{
            padding-right: .7rem;
        }
    }

    .accordion-button{
    background-color: $verde;
    color: $crema;
 }
 
    .accordion-header{
     background-color: $verde;
     padding-bottom: 1rem;
 }
    .accordion-body {
     background-color: $verde;
     color: $crema;  
 }
 
 
    .accordion-button:not(.collapsed) {
     color: $crema;
     background-color: $verde;

 }
 
    .accordion-button:not(.collapsed)::after{
     color: $crema;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
 }

    .accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

 }

    .preguntasFrecuentesRespuesta{
        background-color: $verde;
    }

}



/* TU PREGUNTA –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#tuPregunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $verdeClaro;
    margin: 0;
    padding: 3rem 10rem 5rem 10rem;
    
    #tuPreguntaTexto {
        width: 50%;

        .parrafoDestacado{ 
            font-size: 1rem;
            color: $crema;
        }
    
    }
    
    #tuPreguntaForm {
        width: 40%;

        form{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            align-content: center;
            padding: 2rem 0;

            .datosForm{
                width:100%;
                margin-bottom: 2rem;
            }

            .textArea{
                max-width: 100%;
                height: 20vh;
                padding: 0;
                margin: 0;
                border: 1px solid $crema;
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                color:   $crema;
                padding: 1rem;
                letter-spacing: .1rem;
            }

            .textArea::placeholder{
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                color: $crema;
                font-weight: lighter;
                font-size: 1rem;
            }

            .formBotones__boton{
                width: 80%;
                padding: 1rem;
                margin:auto;
            
            }
        }
    }

    .encabezado_secciones__subtitulos{
        font-size: 3rem;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
        color: $crema;
        text-align:left;
    }
}


/**RESPONSIVE*/

/**MAX 1200–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1200px){


    #preguntasFrecuentesPagina {
    
        .preguntasFrecuentesContenedor{ 
        padding: 5rem 6rem 4rem;
            .accordion-body {
                padding: 0 7rem 3rem 7rem;
        }
    }   
    }

    #tuPregunta {
        padding: 5rem 6rem 4rem;
    }
}

/**RESPONSIVE CELULAR–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 480px){


    #preguntasFrecuentesPagina {
    
        .preguntasFrecuentesContenedor{ 
        padding: 5rem 2rem 4rem;

        .accordion-body   {
            padding: 0;
            padding-bottom: 2rem;
        }

        }

       .accordion-button{
            width: 100%;
            max-width: 100%;
        }
        

    }

 /**TU PREGUNTA –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#tuPregunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 5rem 2rem;
    max-width: 100%;
    

    #tuPreguntaTexto {
        width: 100%;

        .encabezado_secciones__subtitulos{
            text-align: center;
            font-size: 9vw;
            line-height: 12vw;

        }
    
        .parrafoDestacado{ 
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: center;
        }
    
    }
    
    #tuPreguntaForm {
        width: 100%;   
        form {
            padding-top: 3rem;
        }
    }
    }   
}