


/* PREGUNTAS FRECUENTES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#preguntas_frecuentes_pagina {
    
    #preguntas_frecuentes_home{ 
    background-color:  #3A4D43;
    padding: 6rem 10rem 4rem;
    }

    .titulo_secciones, h4, p{
    color:#F2EEE8;
    }


    .titulo_secciones{
    margin: 2rem 0 1rem 0;
    padding: 1rem 0;
    height: 20%;
    }

    .busqueda{
        border-bottom: 1px solid #F2EEE8;
        background: none;
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin-left:0;
        margin-bottom: 3rem;
    
            &__texto{
                text-decoration: none;
                background-color: #3A4D43;
                color:#F2EEE8;
                padding: .8rem 1rem;
                font-size: .8rem;
                font-weight: lighter;
                background: none;
                border: none;
                width: 90%;
                letter-spacing: .1rem;
            }
            
            &__texto::placeholder{
                font-size: .8rem;
                font-weight: lighter;
                letter-spacing: .1rem;
            }
            
            &__texto:focus{
                color:#F2EEE8;
            }
            
            &__lupa{
                text-decoration: none;
                background: none;
                border: none;
                background-color: #3A4D43;
                padding: 0 1rem;
                width: 5%;
                border-right: 1px solid #F2EEE8;
                margin: .4rem 0;
    
               img{
                    max-width: 100%;
                }
            }
            
    
    }

    .preguntas_frecuentes_encabezado{
     padding-bottom: 0;

        div{
            border-bottom: 1px solid #F2EEE8;
        }

        h4{
            font-size: 4.4vw;
            padding-right: .7rem;
        }
    }

    .accordion-button{
    background-color: #3A4D43;
    color: #F2EEE8;
 }
 
    .accordion-header{
     background-color: #3A4D43;
     padding-bottom: 1rem;
 }
    .accordion-body {
     background-color: #3A4D43;
     color: #F2EEE8;
     font-size: .9rem;
     line-height: 1.5rem;
     padding-left: 2rem;
 }
 
 
    .accordion-button:not(.collapsed) {
     color: #F2EEE8;
     background-color: #3A4D43;

 }
 
    .accordion-button:not(.collapsed)::after{
     color: #F2EEE8;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
 }

    .accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

 }

    .preguntas_frecuentes_respuesta{
        background-color: #3A4D43;
    }

}



/* TU PREGUNTA –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#tu_pregunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A3ADA5;
    margin: 0;
    padding: 3rem 10rem 5rem 10rem;
    
    #tu_pregunta_texto {
        width: 50%;

        .parrafo_destacado{ 
            font-size: 1rem;
            color: #F2EEE8;
        }
    
    }
    
    #tu_pregunta_form {
        width: 40%;

        form{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            align-content: center;
            padding: 2rem 0;

            .datos_form{
                width:100%;
                margin-bottom: 2rem;
            }

            .textarea{
                max-width: 100%;
                height: 20vh;
                padding: 0;
                margin: 0;
                border: 1px solid #F2EEE8;
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                color:   #F2EEE8;
                padding: 1rem;
                letter-spacing: .1rem;
            }

            .textarea::placeholder{
                font-family: 'Open Sans', sans-serif;
                font-size: 1rem;
                color: #F2EEE8;
                font-weight: lighter;
                font-size: 1rem;
            }

            .form_botones__boton{
                width: 80%;
                padding: 1rem;
                margin:auto;
            
            }
        }
    }

    .encabezado_secciones__subtitulos{
        font-size: 3rem;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
        color: #F2EEE8;
        text-align:left;
    }
}

